<?xml version="1.0"?>
<model>
    <name>gate</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>David Pierce Walker-Howell</name>
        <email>piercdhowell@gmail.com</email>

    </author>
    <description>Model of Gate used in 2020 Robosub competition</description>
</model>
